/* Importando Fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Atributos Gerais do Site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

/* Atributos Gerais do Body */
body {
    background-color: #f1f6fc31;

}

/* Espaçamento */
section,
footer {
    padding: 54px 0;
}

/* Estilo Especifico do h3 */
h3 {
    font-size: 50px;
}

/* Estilo Geral do paragrafo */
p {
    color: black;
}




/*Tema Dark*/
/* Home */
body.dark{
    background-color: rgb(24, 27, 27);
    color: white;
}
.dark p{
    color: white;
}
.dark .depoimentos .card-item {
    background-color: rgb(72, 77, 80);
}
.dark .depoimentos .card-item:hover {
    background-color: gray;
}
.dark .footer {
    background-color: gray;
}
.dark .footer i {
    color: white;
    background-color: black;
    
}
/* End Home */
/* Sobre Nós */
.dark .sobre .sobre-text p {
    color: white;
}
/* End Sobre Nós */
/* Serviços */
.dark .servicos .rows-cards-item {
    background-color: rgb(72, 77, 80);
}
.dark .servicos .rows-cards-item img {
    background-color: black;
}
.dark .dados {
    background: rgb(72, 77, 80);
}
.dark .dados .dados-item img {
    background-color: black;
    
}
.dark .servicos .rows-cards-item:hover {
    background-color: gray;
}
/* End Serviços */
/* Contato */
.dark .contacto-info .right-side input {
    background-color: rgb(72, 77, 80);
}
.dark .contacto-info .right-side textarea {
    background-color: rgb(72, 77, 80); 
}
.dark input::placeholder{
    color: white;
}
.dark textarea::placeholder{
    color: white;
}
/* End Contato */
/* Botão Modo Claro é Escuro */
.label {
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    width: 50px;
    position: relative;
    padding: 5px;
    transform: scale(1.5);
}
.label .ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translate(0px);
    transition: 0.2s linear;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox:checked + .label .ball {
    transform: translate(24px);
}
.fa-moon{
    color: gold;
}
.fa-sun {
    color: goldenrod;
}
/* Botão Modo Claro é Escuro */
/*End Tema Dark*/



/* Mexendo com a classe Container */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

/* Mexendo com a classe btn */
.btn {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn.animate-btn {
    animation: animate-outline 1s ease-out infinite;
}

/* Mexendo com a classe btn (Sobre) */
.btn:hover {
    background-color: #00adf1;

}

/* Criação da animação dos Botoes */
@keyframes animate-outline {
    from {
        outline: 0px solid #4f9bf98a;
    }

    to {
        outline: 15px solid #4f9bf900;
    }
}

/* Mexendo na tag Header */
header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Mexendo na tag nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

/* Mexendo na tag ul dentro da nav */
nav ul {
    display: flex;
    align-items: center;
}

/* Mexendo no link dentro da tag nav */
nav ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

/* Mexendo no link dentro da tag nav no (Sobre) */
nav ul a:not(.btn)::after {
    content: "";
    background-color: black;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;

}

/* menu mobile */
nav .menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: black;
    display: none;
}

nav .close-icon {
    display: none;
    font-size: 30px;
    color: white;
}

/* Mexendo com a classe Banner */
.banner {
    display: flex;
    justify-content: center;

}

/* Mexendo com a classe Banner +1 classe */
.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

/* Mexendo em um h1 dentro da classe banner */
.banner .banner-text h1 {
    font-size: 96px;
    color: white;
}

/* Mexendo em um paragrafo dentro da classe banner */
.banner .banner-text p {
    font-size: 20px;
    color: #f7f7f7b7;
    font-weight: lighter;
    margin: 10px 0;
}

/* faca mais */
.faca-mais .container {
    display: flex;
    align-items: center;
}

/* faca mais */
.faca-mais .faca-mais-text {
    width: 50%;
    padding: 0 40px;

}

/* faca mais */
.faca-mais .faca-mais-text h3 {
    font-size: 56px;
}

/* faca mais */
.faca-mais .faca-mais-text p {
    margin: 5px 0 10px 0;

}

/* faca mais  img*/
.faca-mais .faca-mais-img {
    width: 50%;
}

/* faca mais  img*/
.faca-mais .faca-mais-img img {
    width: 100%;
}

/* Classe Depoimentos */
.depoimentos h3 {
    text-align: center;

}

/* Classe Depoimentos Paragrafo */
.depoimentos p {
    margin-bottom: 20px;
    text-align: center;
}

/* Classe Card */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Classe Depoimentos & cards */
.depoimentos .card-item {
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

/* Classe Depoimentos & cards Mexendo na IMG */
.depoimentos .card-item img {
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

/* Classe Depoimentos & cards mexendo na name-user */
.depoimentos .card-item .nome-user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

/* Classe Depoimentos & cards e user */
.depoimentos .card-item .depoimento-user {
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

/* Classe Depoimentos & cards */
.depoimentos .card-item .estrelas {
    margin: 15px 0;
    border-top: 2px solid #fcfcfc23;
}

/* Classe Depoimentos & cards */
.depoimentos .card-item .estrelas i {
    color: hsl(0, 100%, 99%, 100%, 99%);
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

/* Classe Depoimentos & cards (Sobre) */
.depoimentos .card-item:hover {
    background-color: #00adf1;
    margin-top: -5px;
}

/* Classe Depoimentos & cards Sobre Paragrafo e Titulo */
.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i {
    color: rgb(0, 0, 0);
}

/* Clientes */
.clientes h3,
.clientes p {
    text-align: center;
}

.clientes .container div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Footer */
.footer {
    background-color: #4f9cf9;
    text-align: center;
}

/* Footer */
.footer i {
    color: #4f9cf9;
    font-size: 19px;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

/* Footer paragrafo */
.footer p {
    margin-top: 10px;
    color: white;

}

/* Pagina Sobre Nós */
.sobre .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text {
    width: 50%;
    padding-right: 40px;
}

.sobre .sobre-text p {
    margin: 18px 0;
    color: #000000a6;
}

.sobre .sobre-img {
    width: 50%;
}

.sobre .sobre-img img {
    width: 100%;
    border-radius: 10px;
}

/* End Pagina Sobre */
/* Pagina Serviços */
.servicos h3 {
    text-align: center;
}

.servicos .container>p {
    text-align: center;
}

.servicos .rows-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.servicos .rows-cards-item {
    background-color: #d3e6fd;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}

.servicos .rows-cards-item:hover {
    background-color: #4f9cf9;
}

.servicos .rows-cards-item:hover p {
    color: white;
}

.servicos .rows-cards-item img {
    background-color: #4f9cf9;
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}

.servicos .rows-cards-item p.nome-servico {
    margin: 5px 0;
    transition: 0.3s;
}

.servicos .rows-cards-item p.descricao-servico {
    transition: 0.3s;
}

/* Dados */
.dados {
    background: #d3e6fd;
}

.dados .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item {
    text-align: center;
    margin: 15px;
    color: #000000be;
}

.dados .dados-item img {
    background-color: #4f9cf9;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}

.dados .dados-item p {
    font-size: 18px;
}

.dados .dados-item p strong {
    font-size: 28px;
}

/* End Pagina Sobre Nós */
/* Pagina Contato */
.contacto-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contacto-info .left-side {
    width: 50%;
    padding: 30px;
    background-color: #4f9cf9;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}

.contacto-info .left-side div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.contacto-info .left-side div i {
    font-size: 24px;
    margin-right: 20px;
    color: white;
}

.contacto-info .left-side p {
    font-size: 17px;
    color: white;
}

/* Formulario */
.contacto-info .right-side {
    width: 50%;

}

.contacto-info .right-side input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid #f1f1f1;
    color: #212121;
    font-weight: lighter;
}

.contacto-info .right-side input:focus,
.contacto-info .right-side textarea:focus {
    border-color: #4f9cf9;
    
}

.contacto-info .right-side textarea {
    border: 1px solid #f1f1f1;
    color: #212121;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.contacto-info .right-side button {
    border: none;
}

/* End Pagina Contato */
/* Responsividade Menu */
@media(max-width: 830px) {

    /* Menu Mobile */
    .ul {
        position: fixed;
        top: 0;
        left: 0;
        background: #184b88;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }

    .ul.open {
        clip-path: circle(141.4% at 100% 0);
    }

    .ul a {
        margin: 10px 0;
        font-size: 16px
    }

    nav .menu-icon {
        display: block;
    }

    nav .close-icon {
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }

    /* Pagina home responsivo */
    .faca-mais .faca-mais-text {
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }

    .faca-mais .container {
        flex-direction: column;
    }

    .faca-mais .faca-mais-text h3 {
        font-size: 48px;
    }

    .faca-mais .faca-mais-text,
    .faca-mais .faca-mais-img {
        width: 100%;
    }

    /* Banner Responsivo */
    .banner .banner-text {
        padding: 0;
        margin: 80px;
    }

    .banner .banner-text h1 {
        font-size: 80px;
    }

    .banner .banner-text p {
        font-size: 15px;
    }

    .depoimentos .card-item {
        width: 100%;
    }

    /* End Pagina home responsivo */
    /* Pagina Sobre responsivo */
    .sobre .container {
        flex-direction: column-reverse;
    }

    .sobre .sobre-img,
    .sobre .sobre-text {
        width: 100%;
    }

    .sobre .sobre-text {
        margin-top: 40px;
    }

    /* End Pagina Sobre responsivo */
    /* Pagina contato responsivo */
    .contacto .contacto-info {
        flex-direction: column-reverse;
    }

    .contacto-info .right-side,
    .contacto-info.left-side {
        width: 100%;
    }

    .contacto-info .right-side {
        margin-bottom: 30px;
    }

    /* End Pagina contato responsivo */
}

@media (max-width:500px) {
    .banner.banner-text h1 {
        font-size: 50px;
    }

    .faca-mais .faca-mais-text h3 {
        font-size: 40px;
    }
}

/* TESTE TESTE TESTE TESTE */
.btm {
    border-radius: 30px;
    cursor: help;
    display: inline-block;
    transition: 0.1s;
}

.btm.animate-btm {
    animation: animate-teste 1s ease-out infinite;
}

/* Criação da animação dos Botoes */
@keyframes animate-teste {
    from {
        outline: 0px solid #0000008a;
    }

    to {
        outline: 15px solid #0044ff00;
    }
}